@media screen and (max-width: 480px) {

	.mobile_nav {
		display: inline;
	}

	body {
		font-size: 100%;
		background-color: #faf7f3;
	}

	.footer {
		text-align: center;
		margin-left: 30px;
		display: none;
	}

	.no-footer {
		display: none;
	}

	.figure-img {
		margin-left: 30px;
	}

	#content {
		float: left;
		width: 100%;
		margin: 0;
		padding: 1em; 
		border-right: none; 
	}
	#content h3 {
		font-size: 1.25em; 
		margin: 0; 
	}

	fieldset.announcement {
		display: none; /* Remove image in smaller screens*/
	}

	.center-img {
		margin-left: 20%;

	}

	header h4 {
		text-align: center;
	}

	header h4 span {
		display: none;
	}

	nav ul li,
	nav ul li a {
		display: none;
	}

	.mobile-nav {
		display: inline;
		text-align: center;
	}

	#bio {
		font-size: .875em; 
		margin-left: 0em; 
	}
	#bio a {
		border-bottom: none;
	}

	.flip-container {
		display: none;
	}

}

@media screen and (max-width: 823px) {
	.search_bar,
	div.carousel-row,
	h5.carousel-h5,
	div.github-card {
		display: none;
	}

	.footer {
		margin-bottom: 2%;
	}
}

@media screen and (max-width: 1193px) {
	.project_footer {
		display: none;
	}
}
